@import "tailwindcss";

:root {
  --background: #F6F7F8;
  --blackText : #0F172A;
  --greyText : #64748B;
  --primary : #137FEC;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-blackText : var(--blackText);
  --color-greyText : var(--greyText);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
